@charset "utf-8";
	.image9
{
	background-image : url(image9.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	width : 267px;
	height : 97px;
}
.image14
{
	background-image : url(image14.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image19
{
	background-image : url(image19.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image27
{
	background-image : url(image27.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image29
{
	background-image : url(image29.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image17
{
	background-image : url(image17.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image26
{
	background-image : url(image26.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image33
{
	background-image : url(image33.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image18
{
	background-image : url(image18.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image21
{
	background-image : url(image21.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image13
{
	background-image : url(image13.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image34
{
	background-image : url(image34.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image35
{
	background-image : url(image35.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image16
{
	background-image : url(image16.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
	width : 267px;
	height : 97px;
}
.image25
{
	background-image : url(image25.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image32
{
	background-image : url(image32.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image36
{
	background-image : url(image36.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image11
{
	background-image : url(image11.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image8
{
	background-image : url(image8.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image15
{
	background-image : url(image15.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image24
{
	background-image : url(image24.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image28
{
	background-image : url(image28.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image37
{
	background-image : url(image37.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image7
{
	background-image : url(image7.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image39
{
	background-image : url(image39.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image40
{
	background-image : url(image40.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	width : 47px;
	height : 20px;
}
.image38
{
	background-image : url(image38.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
	width : 20px;
	height : 20px;
}
.image10
{
	background-image : url(image10.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image12
{
	background-image : url(image12.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image20
{
	background-image : url(image20.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image22
{
	background-image : url(image22.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image23
{
	background-image : url(image23.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image30
{
	background-image : url(image30.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image31
{
	background-image : url(image31.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image91
{
	background-image : url(image91.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image82
{
	background-image : url(image82.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image95
{
	background-image : url(image95.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image53
{
	background-image : url(image53.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image59
{
	background-image : url(image59.png);
	background-repeat : no-repeat;
	width : 98px;
	height : 97px;
}
.image47
{
	background-image : url(image47.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image54
{
	background-image : url(image54.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image57
{
	background-image : url(image57.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image62
{
	background-image : url(image62.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image42
{
	background-image : url(image42.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image50
{
	background-image : url(image50.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image56
{
	background-image : url(image56.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image65
{
	background-image : url(image65.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image71
{
	background-image : url(image71.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image73
{
	background-image : url(image73.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image74
{
	background-image : url(image74.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image61
{
	background-image : url(image61.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image48
{
	background-image : url(image48.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image69
{
	background-image : url(image69.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image76
{
	background-image : url(image76.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image77
{
	background-image : url(image77.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image83
{
	background-image : url(image83.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image92
{
	background-image : url(image92.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image52
{
	background-image : url(image52.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image49
{
	background-image : url(image49.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image51
{
	background-image : url(image51.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image55
{
	background-image : url(image55.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image64
{
	background-image : url(image64.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image79
{
	background-image : url(image79.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image88
{
	background-image : url(image88.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image93
{
	background-image : url(image93.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image96
{
	background-image : url(image96.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image81
{
	background-image : url(image81.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image67
{
	background-image : url(image67.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image97
{
	background-image : url(image97.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image43
{
	background-image : url(image43.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image70
{
	background-image : url(image70.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image98
{
	background-image : url(image98.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image99
{
	background-image : url(image99.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image90
{
	background-image : url(image90.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image89
{
	background-image : url(image89.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image85
{
	background-image : url(image85.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image94
{
	background-image : url(image94.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image66
{
	background-image : url(image66.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image86
{
	background-image : url(image86.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image80
{
	background-image : url(image80.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image78
{
	background-image : url(image78.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image46
{
	background-image : url(image46.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image58
{
	background-image : url(image58.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image75
{
	background-image : url(image75.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image45
{
	background-image : url(image45.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image44
{
	background-image : url(image44.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image60
{
	background-image : url(image60.png);
	background-repeat : no-repeat;
	width : 238px;
	height : 148px;
}
.image63
{
	background-image : url(image63.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image41
{
	background-image : url(image41.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image68
{
	background-image : url(image68.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image72
{
	background-image : url(image72.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image84
{
	background-image : url(image84.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image87
{
	background-image : url(image87.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image114
{
	background-image : url(image114.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image127
{
	background-image : url(image127.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image126
{
	background-image : url(image126.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image100
{
	background-image : url(image100.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image110
{
	background-image : url(image110.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image121
{
	background-image : url(image121.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image119
{
	background-image : url(image119.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image128
{
	background-image : url(image128.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image131
{
	background-image : url(image131.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image133
{
	background-image : url(image133.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image117
{
	background-image : url(image117.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image120
{
	background-image : url(image120.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image101
{
	background-image : url(image101.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image129
{
	background-image : url(image129.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image103
{
	background-image : url(image103.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image135
{
	background-image : url(image135.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image105
{
	background-image : url(image105.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image134
{
	background-image : url(image134.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image118
{
	background-image : url(image118.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image137
{
	background-image : url(image137.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image111
{
	background-image : url(image111.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image115
{
	background-image : url(image115.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image109
{
	background-image : url(image109.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image112
{
	background-image : url(image112.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image138
{
	background-image : url(image138.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image139
{
	background-image : url(image139.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image113
{
	background-image : url(image113.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image123
{
	background-image : url(image123.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image102
{
	background-image : url(image102.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image130
{
	background-image : url(image130.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image132
{
	background-image : url(image132.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image125
{
	background-image : url(image125.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image104
{
	background-image : url(image104.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image136
{
	background-image : url(image136.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image122
{
	background-image : url(image122.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image107
{
	background-image : url(image107.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image106
{
	background-image : url(image106.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image116
{
	background-image : url(image116.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image124
{
	background-image : url(image124.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image108
{
	background-image : url(image108.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image142
{
	background-image : url(image142.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image144
{
	background-image : url(image144.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image141
{
	background-image : url(image141.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image140
{
	background-image : url(image140.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image145
{
	background-image : url(image145.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image143
{
	background-image : url(image143.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.NormalCharacterStyle13
{
	font-family : Raleway;
	font-weight : bold;
	font-size : 40px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle12
{
	font-family : Raleway;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle7
{
	font-family : a Atmospheric;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle11
{
	font-family : Raleway;
	font-size : 20px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.image146
{
	background-image : url(image146.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.NormalCharacterStyle9
{
	font-family : Raleway;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle8
{
	font-family : Raleway;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle10
{
	font-family : Raleway;
	font-size : 10px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle6
{
	font-family : a Atmospheric;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
	font-family : a Atmospheric;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : Raleway;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle4
{
	font-family : Raleway;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle2
{
	font-family : Raleway;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : a Atmospheric;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Raleway;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st0
{
	background : #B3AE9E;
	background : rgba(179, 174, 158, 1);
	width : 238px;
	height : 44px;
}
.st1
{
	background : #F4939B;
	background : rgba(244, 147, 155, 1);
	width : 97px;
	height : 97px;
}
.st2
{
	background : #F4939B;
	background : rgba(244, 147, 155, 1);
	width : 238px;
	height : 44px;
}
.st3
{
	background : #BBA9DC;
	background : rgba(187, 169, 220, 1);
	width : 584px;
	height : 252px;
}
.st4
{
	background : #E883BE;
	background : rgba(232, 131, 190, 1);
	width : 238px;
	height : 44px;
}
.st5
{
	background : #76B2E1;
	background : rgba(118, 178, 225, 1);
	width : 238px;
	height : 44px;
}
.st6
{
	background : #F5C976;
	background : rgba(245, 201, 118, 1);
	width : 238px;
	height : 44px;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.st7
{
	background : #F0B688;
	background : rgba(240, 182, 136, 1);
	width : 303px;
	height : 252px;
}
