@charset "utf-8";
	.image9
{
	background-image : url(../Media/image9.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image1
{
	background-image : url(../Media/image1.png);
	background-repeat : no-repeat;
	width : 267px;
	height : 97px;
}
.image14
{
	background-image : url(../Media/image14.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image19
{
	background-image : url(../Media/image19.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image27
{
	background-image : url(../Media/image27.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image29
{
	background-image : url(../Media/image29.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image5
{
	background-image : url(../Media/image5.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image17
{
	background-image : url(../Media/image17.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image26
{
	background-image : url(../Media/image26.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image33
{
	background-image : url(../Media/image33.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image6
{
	background-image : url(../Media/image6.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image18
{
	background-image : url(../Media/image18.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image21
{
	background-image : url(../Media/image21.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image13
{
	background-image : url(../Media/image13.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image34
{
	background-image : url(../Media/image34.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image35
{
	background-image : url(../Media/image35.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image16
{
	background-image : url(../Media/image16.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image3
{
	background-image : url(../Media/image3.png);
	background-repeat : no-repeat;
	width : 267px;
	height : 97px;
}
.image25
{
	background-image : url(../Media/image25.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image32
{
	background-image : url(../Media/image32.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image36
{
	background-image : url(../Media/image36.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image11
{
	background-image : url(../Media/image11.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image8
{
	background-image : url(../Media/image8.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image15
{
	background-image : url(../Media/image15.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image24
{
	background-image : url(../Media/image24.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image28
{
	background-image : url(../Media/image28.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image37
{
	background-image : url(../Media/image37.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image7
{
	background-image : url(../Media/image7.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image39
{
	background-image : url(../Media/image39.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image40
{
	background-image : url(../Media/image40.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image2
{
	background-image : url(../Media/image2.png);
	background-repeat : no-repeat;
	width : 47px;
	height : 20px;
}
.image38
{
	background-image : url(../Media/image38.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image4
{
	background-image : url(../Media/image4.png);
	background-repeat : no-repeat;
	width : 20px;
	height : 20px;
}
.image10
{
	background-image : url(../Media/image10.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image12
{
	background-image : url(../Media/image12.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image20
{
	background-image : url(../Media/image20.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image22
{
	background-image : url(../Media/image22.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image23
{
	background-image : url(../Media/image23.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image30
{
	background-image : url(../Media/image30.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image31
{
	background-image : url(../Media/image31.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image91
{
	background-image : url(../Media/image91.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image82
{
	background-image : url(../Media/image82.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image95
{
	background-image : url(../Media/image95.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image53
{
	background-image : url(../Media/image53.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image59
{
	background-image : url(../Media/image59.png);
	background-repeat : no-repeat;
	width : 98px;
	height : 97px;
}
.image47
{
	background-image : url(../Media/image47.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image54
{
	background-image : url(../Media/image54.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image57
{
	background-image : url(../Media/image57.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image62
{
	background-image : url(../Media/image62.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image42
{
	background-image : url(../Media/image42.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image50
{
	background-image : url(../Media/image50.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image56
{
	background-image : url(../Media/image56.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image65
{
	background-image : url(../Media/image65.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image71
{
	background-image : url(../Media/image71.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image73
{
	background-image : url(../Media/image73.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image74
{
	background-image : url(../Media/image74.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image61
{
	background-image : url(../Media/image61.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image48
{
	background-image : url(../Media/image48.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image69
{
	background-image : url(../Media/image69.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image76
{
	background-image : url(../Media/image76.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image77
{
	background-image : url(../Media/image77.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image83
{
	background-image : url(../Media/image83.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image92
{
	background-image : url(../Media/image92.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image52
{
	background-image : url(../Media/image52.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image49
{
	background-image : url(../Media/image49.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image51
{
	background-image : url(../Media/image51.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image55
{
	background-image : url(../Media/image55.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image64
{
	background-image : url(../Media/image64.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image79
{
	background-image : url(../Media/image79.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image88
{
	background-image : url(../Media/image88.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image93
{
	background-image : url(../Media/image93.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image96
{
	background-image : url(../Media/image96.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image81
{
	background-image : url(../Media/image81.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image67
{
	background-image : url(../Media/image67.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image97
{
	background-image : url(../Media/image97.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image43
{
	background-image : url(../Media/image43.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image70
{
	background-image : url(../Media/image70.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image98
{
	background-image : url(../Media/image98.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image99
{
	background-image : url(../Media/image99.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image90
{
	background-image : url(../Media/image90.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image89
{
	background-image : url(../Media/image89.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image85
{
	background-image : url(../Media/image85.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image94
{
	background-image : url(../Media/image94.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image66
{
	background-image : url(../Media/image66.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image86
{
	background-image : url(../Media/image86.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image80
{
	background-image : url(../Media/image80.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image78
{
	background-image : url(../Media/image78.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image46
{
	background-image : url(../Media/image46.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image58
{
	background-image : url(../Media/image58.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 98px;
}
.image75
{
	background-image : url(../Media/image75.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image45
{
	background-image : url(../Media/image45.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image44
{
	background-image : url(../Media/image44.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image60
{
	background-image : url(../Media/image60.png);
	background-repeat : no-repeat;
	width : 238px;
	height : 148px;
}
.image63
{
	background-image : url(../Media/image63.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image41
{
	background-image : url(../Media/image41.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image68
{
	background-image : url(../Media/image68.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image72
{
	background-image : url(../Media/image72.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image84
{
	background-image : url(../Media/image84.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image87
{
	background-image : url(../Media/image87.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image114
{
	background-image : url(../Media/image114.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image127
{
	background-image : url(../Media/image127.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image126
{
	background-image : url(../Media/image126.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image100
{
	background-image : url(../Media/image100.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image110
{
	background-image : url(../Media/image110.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image121
{
	background-image : url(../Media/image121.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image119
{
	background-image : url(../Media/image119.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image128
{
	background-image : url(../Media/image128.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image131
{
	background-image : url(../Media/image131.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image133
{
	background-image : url(../Media/image133.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image117
{
	background-image : url(../Media/image117.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image120
{
	background-image : url(../Media/image120.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image101
{
	background-image : url(../Media/image101.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image129
{
	background-image : url(../Media/image129.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image103
{
	background-image : url(../Media/image103.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image135
{
	background-image : url(../Media/image135.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image105
{
	background-image : url(../Media/image105.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image134
{
	background-image : url(../Media/image134.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image118
{
	background-image : url(../Media/image118.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image137
{
	background-image : url(../Media/image137.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image111
{
	background-image : url(../Media/image111.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image115
{
	background-image : url(../Media/image115.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image109
{
	background-image : url(../Media/image109.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image112
{
	background-image : url(../Media/image112.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image138
{
	background-image : url(../Media/image138.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image139
{
	background-image : url(../Media/image139.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image113
{
	background-image : url(../Media/image113.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image123
{
	background-image : url(../Media/image123.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image102
{
	background-image : url(../Media/image102.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image130
{
	background-image : url(../Media/image130.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image132
{
	background-image : url(../Media/image132.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image125
{
	background-image : url(../Media/image125.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image104
{
	background-image : url(../Media/image104.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image136
{
	background-image : url(../Media/image136.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image122
{
	background-image : url(../Media/image122.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image107
{
	background-image : url(../Media/image107.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image106
{
	background-image : url(../Media/image106.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image116
{
	background-image : url(../Media/image116.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image124
{
	background-image : url(../Media/image124.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image108
{
	background-image : url(../Media/image108.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image142
{
	background-image : url(../Media/image142.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image144
{
	background-image : url(../Media/image144.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image141
{
	background-image : url(../Media/image141.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image140
{
	background-image : url(../Media/image140.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image145
{
	background-image : url(../Media/image145.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.image143
{
	background-image : url(../Media/image143.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.NormalCharacterStyle13
{
	font-family : Raleway;
	font-weight : bold;
	font-size : 40px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle12
{
	font-family : Raleway;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle7
{
	font-family : a Atmospheric;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle11
{
	font-family : Raleway;
	font-size : 20px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.image146
{
	background-image : url(../Media/image146.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.NormalCharacterStyle9
{
	font-family : Raleway;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle8
{
	font-family : Raleway;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle10
{
	font-family : Raleway;
	font-size : 10px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle6
{
	font-family : a Atmospheric;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
	font-family : a Atmospheric;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : Raleway;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle4
{
	font-family : Raleway;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle2
{
	font-family : Raleway;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : a Atmospheric;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Raleway;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st0
{
	background : #B3AE9E;
	background : rgba(179, 174, 158, 1);
	width : 238px;
	height : 44px;
}
.st1
{
	background : #F4939B;
	background : rgba(244, 147, 155, 1);
	width : 97px;
	height : 97px;
}
.st2
{
	background : #F4939B;
	background : rgba(244, 147, 155, 1);
	width : 238px;
	height : 44px;
}
.st3
{
	background : #BBA9DC;
	background : rgba(187, 169, 220, 1);
	width : 584px;
	height : 252px;
}
.st4
{
	background : #E883BE;
	background : rgba(232, 131, 190, 1);
	width : 238px;
	height : 44px;
}
.st5
{
	background : #76B2E1;
	background : rgba(118, 178, 225, 1);
	width : 238px;
	height : 44px;
}
.st6
{
	background : #F5C976;
	background : rgba(245, 201, 118, 1);
	width : 238px;
	height : 44px;
}
.image
{
	background-image : url(../Media/image.png);
	background-repeat : no-repeat;
	width : 97px;
	height : 97px;
}
.st7
{
	background : #F0B688;
	background : rgba(240, 182, 136, 1);
	width : 303px;
	height : 252px;
}
