* {
    margin: 0;
    padding: 0;
}

.group2 {
    margin-top: 97px;
}

.group3 {
    margin-top: 291px
}

.group4 {
    margin-top: 291px
}

.group5 {
    margin-top: 291px
}

.group6 {
    margin-top: 291px
}

.group7 {
    margin-top: 291px
}

.group8 {
    margin-top: 291px
}

.group9 {
    margin-top: 291px
}

.group10 {
    margin-top: 291px
}

.group11 {
    margin-top: 291px
}

.group12 {
    margin-top: 291px
}

.group13 {
    margin-top: 97px
}

.group14 {
    margin-top: 97px
}

.group15 {
    margin-top: 97px
}

.group16 {
    margin-top: 97px
}

.group17 {
    margin-top: 97px
}